//
// Fonts
// --------------------------------------------
@mixin font-face($font-family, $weight, $slant) {
    @font-face {
        font-family: "#{$font-family}";
        src: url("/fonts/#{$font-family}_#{$weight}.eot");
        src: url("/fonts/#{$font-family}_#{$weight}.eot?#iefix") format("embedded-opentype"),
             url("/fonts/#{$font-family}_#{$weight}.woff") format("woff"),
             url("/fonts/#{$font-family}_#{$weight}.woff2") format("woff2"),
             url("/fonts/#{$font-family}_#{$weight}.ttf") format("truetype"),
             url("/fonts/#{$font-family}_#{$weight}.svg##{$font-family}#{$weight}") format("svg");
        @if $weight == "Bold" {
            font-weight: 700;
        } @else {
            font-weight: 400;
        }
        font-style: $slant;
    }
}
@each $style, $slant in (Regular, normal), (Bold, normal), (BoldItalic, italic), (Italic, italic) {
    @include font-face('CaviarDreams', $style, $slant);
    @include font-face('arsenal',      $style, $slant);

}

$arsenal: arsenal, "Helvetica Neue",Helvetica,Arial,sans-serif;
$caviar: CaviarDreams, Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

body {
    font-family: $arsenal
}

h1,h2,h3,h4,h5,h6 {
    font-family: $caviar !important;
    font-weight: 400 !important;
}
