---
pageable: true
per_page: 10
title: Позначки (теги)
---

- @title = capture
  i.fa.fa-lg.fa-tags
  =<> current_page.data.title

h2  Скоро буде
/ - tag_cloud.map do |tag,size|
/   = link_to tag, tag_path(tag), style: "font-size: #{size}px;"
